*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
}
section{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.form-register{
    width: 400px;   
    background: #f2f2f2;
    padding: 30px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;

}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #24303c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: center;


}

.form-register boton{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #24303c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-align: center;

}